<a href="https://colab.research.google.com/github/Rohan-Dawar/CTBUH-scraper/blob/main/CTBUH_Scraper_ROHAN_DAWAR.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Web Scraper for the CTBUH (Council on Tall Buildings and Urban Habitat) Database

* Author: [Rohan Dawar](rohandawar.com)
  * [GitHub](https://github.com/Rohan-Dawar)
  * [LinkedIn](https://www.linkedin.com/in/rohan-dawar/)
  * [Jovian](https://jovian.ai/rohan-dawar)

---

## **What is CTBUH?**
* Council on Tall Buildings and Urban Habitat (CTBUH) is an organization that (among other things) tracks and maintains data relating to highrises, skyscrapers and other tall buildings
* [CTBUH Homepage](https://www.ctbuh.org/)
* [CTBUH Database](https://www.skyscrapercenter.com/explore-data)


## **What this notebook does**:
* This notebook contains the function `gen_df` which scrapes the CTBUH database and returns a pandas dataframe containing all buildings listed for your passed criteria
* Parameters to pass include:
  * Continent
  * Country
  * City
  * If you want to grab coordinates
  * If you want to one-hot encode specific columns

* Columns in the dataframe include:
  * Rank (height ranking among criteria)
  * Name (of the building, or address)
  * City
  * Completion (year)
  * Height (m)
  * Floors
  * Materials (Concrete, Steel, Composite, etc.)
  * Use (Residential, Retial, Office, Hotel, Mixed, etc.)
  * Status (Completed, Under Construction, Proposed, etc.)
  * BuildPage (skyscrapercenter building page)
  * CityPage (skyscrapercenter city page)
  * CountryPage (skyscrapercenter country page)
  * BID (building ID, used in CTBUH database)
  * Coords (if getCoords=True, will try to extract location data)
  * Country

* This notebook also contains dictionaries for the continent, country and city parameters to look up their reference numbers in CTBUH database

In [176]:
# Dependencies:
import numpy as np
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [177]:
base_url = 'https://www.skyscrapercenter.com'
map_url = f'{base_url}/map/building/'
db_url = f'{base_url}/explore-data'

In [178]:
# Finding the filter labels:
r = requests.get(db_url)
soup = BeautifulSoup(r.text, 'html.parser')
s = soup.find_all('div', class_="filter-label")
s

[<div class="filter-label">Structure Type</div>,
 <div class="filter-label">Status</div>,
 <div class="filter-label">Height</div>,
 <div class="filter-label">Material</div>,
 <div class="filter-label">Function</div>,
 <div class="filter-label">Region</div>,
 <div class="filter-label">Country</div>,
 <div class="filter-label">City</div>,
 <div class="filter-label">Min Year.</div>,
 <div class="filter-label">Max Year</div>,
 <div class="filter-label">Company</div>]

In [179]:
# Creating Region Code Dict, 5th index of filter labels:
regionCode = {}
filterKeys = s[5].find_next()
filterOptions = filterKeys.find_all('option')
filterOptions
for fo in filterOptions:
  if fo.get('value'):
    regionCode[fo.text] = fo.get('value')
regionCode

{'Africa': '5',
 'Asia': '7',
 'Central America': '3',
 'Europe': '1',
 'Middle East': '6',
 'North America': '2',
 'Oceania': '8',
 'South America': '4'}

In [180]:
# Creating Country Code Dict, 6th index of filter labels:
countryCode = {}
filterKeys = s[6].find_next()
filterOptions = filterKeys.find_all('option')
filterOptions
for fo in filterOptions:
  if fo.get('value'):
    countryCode[fo.text] = fo.get('value')
countryCode

{'Afghanistan': '3',
 'Albania': '4',
 'Algeria': '46',
 'Andorra ': '1',
 'Angola': '7',
 'Argentina': '9',
 'Armenia': '5',
 'Aruba': '12',
 'Australia': '11',
 'Austria': '10',
 'Azerbaijan': '13',
 'Bahamas': '23',
 'Bahrain': '18',
 'Bangladesh': '19',
 'Barbados': '185',
 'Belarus': '25',
 'Belgium': '16',
 'Benin': '186',
 'Bhutan': '190',
 'Bolivia': '21',
 'Bosnia and Herzegovina': '14',
 'Botswana': '24',
 'Brazil': '22',
 'Brunei': '178',
 'Bulgaria': '17',
 'Burkina Faso': '67',
 'Cambodia': '84',
 'Cameroon': '33',
 'Canada': '27',
 'Central African Republic': '29',
 'Chad': '151',
 'Chile': '32',
 'China': '34',
 'Colombia': '35',
 'Congo': '30',
 'Costa Rica': '36',
 'Croatia': '69',
 'Cuba': '37',
 'Cyprus': '39',
 'Czech Republic': '40',
 'Democratic Republic of the Congo': '28',
 'Denmark': '43',
 'Djibouti': '42',
 'Dominican Republic': '45',
 'Ecuador': '47',
 'Egypt': '49',
 'El Salvador': '148',
 'Equatorial Guinea': '192',
 'Eritrea': '50',
 'Estonia': '48',
 'Ethiopia': '52',
 'Fiji': '54',
 'Finland': '53',
 'France': '55',
 'Gabon': '196',
 'Georgia': '58',
 'Germany': '41',
 'Ghana': '60',
 'Gibraltar': '197',
 'Greece': '64',
 'Greenland': '61',
 'Guam': '199',
 'Guatemala': '65',
 'Guinea': '63',
 'Guyana': '66',
 'Haiti': '70',
 'Honduras': '68',
 'Hungary': '71',
 'Iceland': '78',
 'India': '75',
 'Indonesia': '72',
 'Iran': '77',
 'Iraq': '76',
 'Ireland': '73',
 'Israel': '74',
 'Italy': '79',
 'Ivory Coast': '175',
 'Jamaica': '80',
 'Japan': '82',
 'Jordan': '81',
 'Kazakhstan': '88',
 'Kenya': '83',
 'Kosovo': '180',
 'Kuwait': '86',
 'Kyrgyzstan': '203',
 "Lao People's Democratic Republic": '177',
 'Latvia': '96',
 'Lebanon': '89',
 'Liberia': '92',
 'Libya': '97',
 'Liechtenstein': '90',
 'Lithuania': '94',
 'Luxembourg': '95',
 'Macedonia': '102',
 'Madagascar': '101',
 'Malaysia': '112',
 'Maldives': '109',
 'Mali': '103',
 'Malta': '107',
 'Martinique': '206',
 'Mauritania': '106',
 'Mauritius': '108',
 'Mexico': '111',
 'Moldova': '100',
 'Monaco': '99',
 'Mongolia': '105',
 'Montenegro': '209',
 'Morocco': '98',
 'Mozambique': '113',
 'Myanmar': '104',
 'Namibia': '114',
 'Nepal': '120',
 'Netherlands': '118',
 'New Caledonia': '212',
 'New Zealand': '121',
 'Nicaragua': '117',
 'Niger': '115',
 'Nigeria': '116',
 'North Korea': '176',
 'Northern Mariana Islands': '215',
 'Norway': '119',
 'Oman': '122',
 'Pakistan': '128',
 'Palau': '216',
 'Panama': '123',
 'Papua New Guinea': '126',
 'Paraguay': '132',
 'Peru': '124',
 'Philippines': '127',
 'Poland': '129',
 'Portugal': '131',
 'Puerto Rico': '130',
 'Qatar': '133',
 'Romania': '134',
 'Russia': '135',
 'Rwanda': '136',
 'Samoa': '169',
 'San Marino': '144',
 'Saudi Arabia': '137',
 'Senegal': '145',
 'Serbia': '179',
 'Sierra Leone': '143',
 'Singapore': '140',
 'Slovakia': '142',
 'Slovenia': '141',
 'South Africa': '172',
 'South Korea': '85',
 'Spain': '51',
 'Sri Lanka': '91',
 'Sudan': '138',
 'Swaziland': '150',
 'Sweden': '139',
 'Switzerland': '31',
 'Syria': '149',
 'Tajikistan': '154',
 'Tanzania': '160',
 'Thailand': '153',
 'Togo': '152',
 'Trinidad and Tobago': '181',
 'Tunisia': '156',
 'Turkey': '158',
 'Turkmenistan': '155',
 'Uganda': '162',
 'Ukraine': '161',
 'United Arab Emirates': '2',
 'United Kingdom': '56',
 'United States': '163',
 'Uruguay': '164',
 'Uzbekistan': '165',
 'Vatican City': '166',
 'Venezuela': '167',
 'Vietnam': '168',
 'Yemen': '170',
 'Zambia': '173',
 'Zimbabwe': '174'}

In [181]:
# Creating City Code Dict, 7th index of filter labels:
cityCode = {}
filterKeys = s[7].find_next()
filterOptions = filterKeys.find_all('option')
filterOptions
for fo in filterOptions:
  if fo.get('value'):
    cityCode[fo.text] = fo.get('value')
cityCode

{'Aarhus': '879',
 'Abbeville': '1496',
 'Aberdeen': '1805',
 'Abidjan': '736',
 'Abilene': '1497',
 'Abu Dhabi': '629',
 'Abuja': '1128',
 'Acapulco': '1107',
 'Accra': '955',
 'Addis Ababa': '910',
 'Adelaide': '647',
 'Agawam': '2202',
 'Agra': '2276',
 'Ajax': '2855',
 'Ajman': '628',
 'Akita': '2448',
 'Akkrum': '1135',
 'Akron': '1502',
 'Al Fujayrah': '631',
 'Al Khobar': '1448',
 'Albany': '1503',
 'Albuquerque': '1498',
 'Aleppo (Alep)': '2158',
 'Alexandria': '2155',
 'Alexandria (VA)': '1513',
 'Algiers': '2156',
 'Alicante': '892',
 'Allentown': '2251',
 'Almaty': '1082',
 'Almelo': '1137',
 'Almere': '1133',
 'Alphen aan den Rijn': '1144',
 'Amarillo': '1504',
 'Americana': '2963',
 'Amersfoort': '1138',
 'Amherst': '1726',
 'Amiens': '915',
 'Amman': '1028',
 'Amsterdam': '1140',
 'Anapolis': '2649',
 'Anchorage': '1505',
 'Andelst': '1142',
 'Andorra La Vela': '627',
 'Ankara': '1477',
 'Annapolis': '2349',
 'Anshan': '742',
 'Antananarivo': '1097',
 'Antiguo Cuscatlán': '2863',
 'Antrim and Newtownabbey': '2987',
 'Antwerp': '666',
 'Anyang': '1057',
 'Aomori': '2449',
 'Apeldoorn': '1143',
 'Apia': '1741',
 'Apucarana': '2788',
 'Aracaju': '2701',
 'Araçatuba': '3060',
 'Arapongas': '2764',
 'Araraquara': '2835',
 'Araxá': '2796',
 'Arcueil': '2215',
 'Arles': '2791',
 'Arlington': '1506',
 'Armagh': '2547',
 'Arnhem': '1146',
 'Artem': '2336',
 'Asbury Park': '1507',
 'Ashalim': '2392',
 'Asheville': '1500',
 'Ashford': '2558',
 'Ashgabat': '2055',
 'Ashkhabad': '1474',
 'Asmara': '890',
 'Assen': '1147',
 'Asten': '1148',
 'Asuncion': '1427',
 'Atami': '3107',
 'Athens': '960',
 'Atlanta': '1509',
 'Atlantic City': '1501',
 'Aubervilliers': '916',
 'Auckland': '1387',
 'Augsburg': '843',
 'Augusta': '2354',
 'Austin': '1510',
 'Aventura': '1511',
 'Axel': '1149',
 'Baghdad': '1000',
 'Bagnolet': '917',
 'Baise': '2823',
 'Baku': '661',
 'Balchik': '676',
 'Balikpapan': '2363',
 'Balk': '1151',
 'Balneario Camboriu': '687',
 'Baltimore': '1514',
 'Bamako': '1099',
 'Bandar Lampung': '2330',
 'Bandar Seri Begawan': '683',
 'Bandung': '2311',
 'Bangalore': '988',
 'Bangkok': '1471',
 'Bangui': '729',
 'Banjarmasin': '2378',
 'Baoding': '743',
 'Baoji': '2419',
 'Baotou': '2871',
 'Baracaldo': '893',
 'Barcelona': '894',
 'Barranquilla': '2286',
 'Barreiras': '3009',
 'Bartlesville': '1533',
 'Barueri': '689',
 'Basel': '731',
 'Basingstoke': '2368',
 'Bat Yam': '977',
 'Batam': '2310',
 'Baton Rouge': '1528',
 'Batumi': '953',
 'Bauru': '686',
 'Bayreuth': '2089',
 'Beaumont': '1525',
 'Beer Sheba': '978',
 'Beihai': '744',
 'Beijing': '745',
 'Beilen': '1155',
 'Beirut': '1085',
 'Bekasi': '2307',
 'Belem': '2151',
 'Belfast': '931',
 'Belgrade': '1431',
 'Bellevue': '1532',
 'Belo Horizonte': '688',
 'Benidorm': '895',
 'Beppu, Oita': '2240',
 'Bergen': '2179',
 'Berlin': '844',
 'Best': '1172',
 'Bethesda': '2219',
 'Beverwijk': '1156',
 'Bhuj': '987',
 'Bilbao': '896',
 'Billings': '1519',
 'Biloxi': '1522',
 'Binghamton': '1520',
 'Bintulu': '3015',
 'Birigui': '3089',
 'Birkenhead': '2369',
 'Birmingham': '932',
 'Birmingham (AL)': '1518',
 'Bishkek (Ex Frunze)': '1053',
 'Bismarck': '1521',
 'Blackpool': '933',
 'Blacktown': '2358',
 'Bloomington': '1526',
 'Blumenau': '2801',
 'Bnei Brak': '980',
 'Boa Vista': '3028',
 'Boca del Rio': '2932',
 'Boca Raton': '2205',
 'Bochum': '2185',
 'Bogor': '2317',
 'Bogota': '831',
 'Boise': '1523',
 'Bologna': '1009',
 'Bonita Springs': '2405',
 'Bonn': '846',
 'Borculo': '1164',
 'Bordeaux': '2084',
 'Borssele': '1162',
 'Bossier City': '1527',
 'Boston': '1524',
 'Boulogne-Billancourt': '2410',
 'Brasilia': '2145',
 'Bratislava': '1463',
 'Brazzaville': '730',
 'Breda': '1165',
 'Bremen': '847',
 'Bremerhaven': '848',
 'Brescia': '1010',
 'Bridgetown': '664',
 'Brielle': '1166',
 'Brighton': '2188',
 'Brisbane': '648',
 'Bristol': '1772',
 'Bristol (CT)': '1515',
 'Brno': '838',
 'Brookhaven': '2880',
 'Brugge': '2592',
 'Brumunddal': '2455',
 'Brunssum': '1167',
 'Brusque': '2798',
 'Brussels': '667',
 'Bryne': '1382',
 'Bucaramanga': '2267',
 'Bucharest': '1429',
 'Bucheon': '1058',
 'Budapest': '969',
 'Buenos Aires': '639',
 'Buffalo': '1530',
 'Burbank': '1531',
 'Burgas': '677',
 'Burlington': '1529',
 'Burnaby': '705',
 'Busan': '1071',
 'Cabazon': '1541',
 'Caen': '2389',
 'Cairo': '889',
 'Calgary': '706',
 'Cali': '832',
 'Cambridge': '2139',
 'Cambridge, ON': '3003',
 'Camden': '1538',
 'Campina Grande': '2656',
 'Campinas': '2152',
 'Campo Grande': '2591',
 'Campo Novo do Parecis': '3074',
 'Canberra': '649',
 'Cancún': '2504',
 'Cape Canaveral': '1546',
 'Cape Town': '1744',
 'Capelle aan den IJssel': '1177',
 'Caracas': '1734',
 'Cardiff': '934',
 'Cartagena': '833',
 'Caruaru': '2647',
 'Casablanca': '1093',
 'Cascavel, PR': '2979',
 'Caxias do Sul': '2703',
 'Cebu': '1395',
 'Cedar Rapids': '1540',
 'Cesenatico': '1012',
 'Chandigarh': '2882',
 'Changchun': '748',
 'Changsha': '751',
 'Changwon': '2088',
 'Changzhou': '753',
 'Chapeco': '2837',
 'Charleroi': '668',
 'Charleston': '1548',
 'Charlotte': '1544',
 'Charlottetown': '707',
 'Chattanooga': '2934',
 'Chelyabinsk': '2196',
 'Chemnitz': '850',
 'Chengdu': '752',
 'Chennai': '1820',
 'Cheongju': '1062',
 'Chesterfield': '2582',
 'Cheyenne': '1553',
 'Chiba': '1029',
 'Chicago': '1539',
 'Chifeng': '3083',
 'Chihuahua': '2503',
 'Chisinau': '1096',
 'Chonan': '1060',
 'Chongqing': '750',
 'Chongzuo': '2810',
 'Christchurch': '1388',
 'Cianjur': '2452',
 'Cidade Ocidental': '3025',
 'Cikarang': '2320',
 'Cincinnati': '1550',
 'Cirebon': '2373',
 'Ciudad Victoria': '1108',
 'Clayton': '1542',
 'Cleveland': '1543',
 'Cliffside Park': '1549',
 "Coeur d'Alene": '3053',
 'Cologne': '849',
 'Colombo': '1087',
 'Columbia': '1534',
 'Columbus': '1545',
 'Conakry': '958',
 'Concepcion': '738',
 'Concord': '2348',
 'Contagem': '2209',
 'Copenhagen': '880',
 'Coquitlam': '2628',
 'Coral Gables': '2482',
 'Cordoba': '640',
 'Cork': '976',
 'Corpus Christi': '1547',
 'Costa Mesa': '2204',
 'Cotonou': '682',
 'Courbevoie': '918',
 'Covington': '1551',
 'Creteil': '2391',
 'Criciúma': '2970',
 'Cuiaba': '2698',
 'Curitiba': '690',
 'Curridabat': '2866',
 'Cwmbran': '2579',
 'Da Nang': '1737',
 'Daegu': '1075',
 'Daejeon': '1076',
 'Dakar': '1466',
 'Dalian': '755',
 'Dallas': '1554',
 'Damascus (Damas)': '1468',
 'Damman': '2234',
 'Daqing': '756',
 'Dar es Salaam': '1490',
 'Darwin': '651',
 'Davao, Mindanao': '1397',
 'Dayton': '1555',
 'Daytona Beach Shores': '2790',
 'Delft': '1182',
 'Delta': '2266',
 'Den Bosch': '1242',
 'Denton': '1558',
 'Denver': '1556',
 'Depok': '2335',
 'Derby': '2531',
 'Des Moines': '1557',
 'Detroit': '1559',
 'Deventer': '1181',
 'Dhahran': '1449',
 'Dhaka': '665',
 'Diadema': '3022',
 'Dirksland': '1192',
 'Divinópolis': '2991',
 'Djibouti': '2556',
 'Dnipropetrovsk': '1491',
 'Doesburg': '1186',
 'Doha': '1428',
 'Donetsk': '1492',
 'Dongguan': '754',
 'Dongying': '2825',
 'Dordrecht': '1190',
 'Dornbirn': '2552',
 'Dortmund': '852',
 'Douala': '2157',
 'Dourados': '3008',
 'Dover': '2350',
 'Dresden': '851',
 'Dubai': '630',
 'Dublin': '975',
 'Duisburg': '853',
 'Dundee': '2586',
 'Dunwoody': '2268',
 'Durban': '1745',
 'Durham': '1560',
 'Dushanbe': '2140',
 'Düsseldorf': '854',
 'Duy Xuyên': '2947',
 'East Brunswick': '1561',
 'East Chicago': '1562',
 'East Hartford': '1564',
 'East Klibride': '2599',
 'East Orange': '1566',
 'East Rutherford': '1568',
 'Eastbourne': '2584',
 'Edgewater': '1563',
 'Edina': '2856',
 'Edinburgh': '935',
 'Edmonton': '708',
 'Eemshaven': '1197',
 'Eindhoven': '1200',
 'Ekibastuz': '2271',
 'El Ejido': '898',
 'El Paso': '1565',
 'El Segundo': '2194',
 'Elgin': '2099',
 'Elizabeth': '1572',
 'Emmeloord': '1201',
 'Emmen': '1202',
 'Enkhuizen': '1203',
 'Enschede': '1204',
 'Enshi': '3103',
 'Erbil': '1001',
 'Erie': '1567',
 'Eschborn': '855',
 'Eslov': '2742',
 'Espoo': '911',
 'Essen': '856',
 'Etten Leur': '1205',
 'Evanston': '2144',
 'Evansville': '1569',
 'Exeter': '1829',
 'Falciano': '2339',
 'Fangchenggang': '757',
 'Fargo': '1573',
 'Fazilka': '2804',
 'Feira de Santana': '2992',
 'Florence': '1013',
 'Florianopolis': '2975',
 'Fort Lauderdale': '1574',
 'Fort Lee': '1576',
 'Fort Myers': '1575',
 'Fort Wayne': '1578',
 'Fort Worth': '1579',
 'Fort-de-France': '1102',
 'Fortaleza': '2153',
 'Foshan': '759',
 'Foster City': '2400',
 'Foz do Iguaçu': '3019',
 'Franca': '2833',
 'Francisco Beltrão': '3011',
 'Franeker': '1207',
 'Frankfort': '2189',
 'Frankfurt am Main': '858',
 'Frederiksberg': '881',
 'Freetown': '1465',
 'Frisco': '2822',
 'Fujisawa': '3070',
 'Fukuoka': '1030',
 'Fushun': '760',
 'Fuzhou': '758',
 'Gaborone': '703',
 'Galveston': '1581',
 'Gandhinagar': '993',
 'Gangneung': '2256',
 'Ganzhou': '761',
 'Gary': '1586',
 'Gatineau': '2282',
 'Gdansk': '1409',
 'Gdynia': '1410',
 'Geertruidenberg': '1217',
 'Geneva': '732',
 'Genoa': '1014',
 'Gent': '669',
 'Georgetown': '964',
 'Gibraltar': '956',
 'Gifu': '1031',
 'Gijon': '899',
 'Givatayim': '981',
 'Glasgow': '936',
 'Glendale, CA': '1606',
 'Glendale, CO': '2344',
 'Gliwice': '2553',
 'Goes': '1211',
 'Goiania': '691',
 'Goicoechea': '2961',
 'Gold Coast': '655',
 'Goor': '1213',
 'Gorinchem': '1214',
 'Gosford': '2254',
 'Göteborg': '1455',
 'Gouda': '1215',
 'Goyang': '1064',
 'Grand Rapids': '1582',
 'Graz': '643',
 'Greensboro': '1580',
 'Groningen': '1216',
 'Groznyj': '1432',
 'Guadalajara': '1109',
 'Guangzhou': '746',
 'Guarapuava': '3045',
 'Guaratinguetá': '3075',
 'Guarujá': '2952',
 'Guarulhos': '2686',
 'Guatemala City': '963',
 'Guayaquil': '885',
 'Guigang': '2821',
 'Guilin': '2809',
 'Guiyang': '779',
 'Gulf Shores': '1583',
 'Gurgaon': '992',
 'Guttenberg': '1584',
 'Gwangju': '1069',
 'Gwangmyeong': '2890',
 'Gyeongju': '1063',
 'Haarlem': '1219',
 'Hachioji': '2255',
 'Hackensack': '1590',
 'Haifa': '983',
 'Haikou': '762',
 'Halifax': '709',
 'Hallandale Beach': '1588',
 'Hamamatsu': '1034',
 'Hamburg': '860',
 'Hamilton': '710',
 'Handan': '2170',
 'Hangzhou': '765',
 'Hannover': '859',
 'Hanoi': '1738',
 'Harare': '1750',
 'Harbin': '767',
 'Harrisburg': '1587',
 'Hartford': '1591',
 'Havana': '836',
 'Hechi': '2836',
 'Heerlen': '1223',
 'Hefei': '764',
 'Heilbronn': '2973',
 'Heiloo': '1232',
 'Helsinki': '913',
 'Hemel Hempstead': '2495',
 'Hempstead': '2388',
 'Hengelo': '1226',
 'Heredia': '2913',
 'Herlev': '882',
 'Hezhou': '2838',
 'Hilvarenbeek': '2299',
 'Hilversum': '1246',
 'Hiroshima': '1033',
 'Hitachinaka': '1032',
 'Ho Chi Minh City': '1740',
 'Hobart': '2289',
 'Hoboken': '1589',
 'Hohhot': '763',
 'Hollywood': '1596',
 'Hong Kong': '766',
 'Honolulu': '1592',
 'Hoofddorp': '1224',
 'Hoogezand': '1228',
 'Hoogvliet': '1227',
 'Houston': '1593',
 'Hsinchu': '1484',
 'Huaiyin': '741',
 'Huanggang': '3110',
 'Huangshan': '2675',
 'Huddersfield': '937',
 'Huixquilucan': '2867',
 'Huizhou': '768',
 'Hulst': '1244',
 'Huntington': '2566',
 'Huntsville': '1594',
 'Huzhou': '769',
 'Hwaseong': '1065',
 'Hyderabad': '994',
 'Icheon': '1066',
 'Ichikawa': '1035',
 'IJmuiden': '1248',
 'IJsselstein': '1247',
 'Imperatriz': '2940',
 'Inazawa': '1037',
 'Incheon': '1067',
 'Indaiatuba': '3066',
 'Indianapolis': '1600',
 'Inverness': '2580',
 'Ipatinga': '2984',
 'Ipswich': '938',
 'Iqaluit': '711',
 'Iquique': '2367',
 'Irvine': '2059',
 'Irving': '1602',
 'Issy-les-Moulineaux': '919',
 'Istanbul': '1478',
 'Itajaí': '2974',
 'Itapema': '2916',
 'Itasca': '1603',
 'Ittervoort': '1249',
 'Izmir': '1479',
 'Izumisano': '1036',
 'Jabalpur': '996',
 'Jaboatao dos Guararapes ': '2653',
 'Jackson': '2353',
 'Jacksonville': '1604',
 'Jacó': '2910',
 'Jaisalmer': '997',
 'Jakarta': '972',
 'Jambi': '2381',
 'Järvenpää': '3031',
 'Jataí': '2965',
 'Jeddah': '1450',
 'Jefferson City': '2352',
 'Jeju': '1059',
 'Jember': '2406',
 'Jena': '861',
 'Jerez de la Frontera': '2900',
 'Jersey City': '1605',
 'Jerusalem': '984',
 'Jesolo': '1015',
 'Jiangmen': '774',
 'Jinan': '805',
 'Jincheng': '2545',
 'Joao Pessoa': '692',
 'Joensuu': '2972',
 'Johannesburg': '1746',
 'Johor Bahru': '1116',
 'Joinville': '3007',
 'Joliet': '2300',
 'Juazeiro': '3048',
 'Juazeiro do Norte': '2598',
 'Juiz de Fora': '2213',
 'Jundiaí': '2919',
 'Kabul': '634',
 'Kahramanmaraş': '3026',
 'Kaifeng ': '775',
 'Kampala': '1495',
 'Kampen': '1251',
 'Kanazawa': '2959',
 'Kansas City': '1633',
 'Kaohsiung': '1486',
 'Kapelle': '1253',
 'Karachi': '1407',
 'Karawang': '2338',
 'Kathmandu': '1386',
 'Katowice': '1413',
 'Kawaguchi': '1039',
 'Kawasaki': '1040',
 'Kazan': '1437',
 'Keelung': '1485',
 'Kelowna': '1974',
 'Kendari': '2408',
 'Kevadiya': '2899',
 'Khartoum': '1453',
 'Khimki': '2295',
 'Khon Kaen': '2331',
 'Kiev': '1493',
 'Kigali': '1447',
 'Kingston': '1027',
 'Kingston Upon Hull': '2581',
 'Kinshasa': '728',
 'Kish': '1002',
 'Kitakyushu': '2066',
 'Klaipeda': '1088',
 'Knoxville': '2178',
 'Kobe': '1050',
 'Koblenz am Rhein': '862',
 'Kochi': '2949',
 'Kolkata': '990',
 'Konin': '1411',
 'Köniz': '2511',
 'Konya': '1480',
 'Kopavogur': '1006',
 'Koror': '1426',
 'Kosice-letisko': '1464',
 'Kota Bharu': '3080',
 'Kota Kinabalu': '2236',
 'Krakow': '1412',
 'Krasnodar': '2334',
 'Krasnogorsk': '2192',
 'Krasnoyarsk': '1435',
 'Krimpen aan den IJssel': '1250',
 'Kuala Lumpur': '1118',
 'Kuantan': '2957',
 'Kuching': '1117',
 'Kunming': '777',
 'Kupang': '2361',
 'Kuwait City': '1079',
 'Kyoto': '2114',
 "L'Hospitalet de Llobregat": '900',
 'La Coruna': '902',
 'La Paz': '684',
 'La Porte': '2270',
 'Lagos': '1129',
 'Lahore': '1408',
 'Laibin': '2826',
 'Lake Charles': '2533',
 'Lancaster': '1618',
 'Landshut': '863',
 'Lansing': '1608',
 'Lanzhou': '780',
 'Laramie': '1609',
 'Larnaca': '2384',
 'Las Palmas de Gran Canaria': '2443',
 'Las Vegas': '1610',
 'Latina': '1017',
 'Laval': '2668',
 'Ledyard Center': '1613',
 'Leeds': '939',
 'Leeuwarden': '1269',
 'Leicester': '2366',
 'Leiden': '1264',
 'Leipzig': '864',
 'Lelystad': '1263',
 'Lemmer': '1265',
 'Léon ': '2800',
 'Leuven': '670',
 'Lexington': '1614',
 'Lianyungang': '782',
 'Liberec': '839',
 'Libreville': '930',
 'Liège': '671',
 'Lille': '921',
 'Lima': '2539',
 'Limassol': '2535',
 'limeira': '3029',
 'Lincoln': '940',
 'Lincoln (NE)': '1617',
 'Linyi': '783',
 'Linz': '644',
 'Lisbon': '1420',
 'Lisse': '1309',
 'Little Rock': '1616',
 'Liuzhou': '784',
 'Liverpool': '941',
 'Livorno': '1016',
 'Ljubljana': '1462',
 'Loma Linda': '3057',
 'Lome': '1470',
 'London': '942',
 'London (ON)': '712',
 'Londrina': '693',
 'Long Beach': '1615',
 'Lopik': '1266',
 'Los Angeles': '1611',
 'Los Barrios': '2444',
 'Louisville': '1620',
 'Louth': '2608',
 'Lowell': '1619',
 'Luanda': '638',
 'Lubbock': '1612',
 'Lubeck': '2924',
 'Luoyang': '781',
 'Lusaka': '1749',
 'Luton': '2424',
 'Luxembourg': '1090',
 'Lynchburg': '1621',
 'Lyon': '920',
 'Münster': '2337',
 'Maasbracht': '1280',
 'Maassluis': '1282',
 'Maastricht': '1284',
 'Macau': '785',
 'Maceió': '2857',
 'Madison (WI)': '2027',
 'Madrid': '903',
 'Maebashi': '1041',
 'Magas': '2198',
 'Mahwah': '1631',
 'Maia': '1421',
 'Mainz': '867',
 'Makassar': '973',
 'Makati': '1400',
 'Malabo': '959',
 'Malacca': '1119',
 'Malang': '2360',
 'Maldonado': '2827',
 'Male': '1106',
 'Malmö': '1457',
 'Manado': '2306',
 'Managua': '1130',
 'Manama': '681',
 'Manaus': '2154',
 'Manchester': '943',
 'Manchester (NH)': '1630',
 'Mandaluyong': '1398',
 'Mangalore': '995',
 'Manila': '1399',
 'Mannheim': '868',
 'Maputo': '1125',
 'Mar del Plata': '641',
 'Maracay': '1735',
 'Marco Island': '2312',
 'Maringa': '694',
 'Markham': '1752',
 'Marseille': '922',
 'Mauá': '3079',
 'Mbabane': '2846',
 'McAllen': '1709',
 'Mecca': '1451',
 'Medan': '2319',
 'Medellin': '834',
 'Melbourne': '653',
 'Memphis': '1626',
 'Mérida': '3036',
 'Meridian': '1625',
 'Mersin': '1481',
 'Metairie': '1637',
 'Mexico City': '1110',
 'Miami': '1632',
 'Miami Beach': '1622',
 'Miami-Dade County (Unincorporated)': '2915',
 'Mianyang': '786',
 'Michigan City': '1628',
 'Middelburg': '1272',
 'Midland': '1624',
 'Mierlo': '1273',
 'Milan': '1018',
 'Mill': '1276',
 'Milwaukee': '1634',
 'Minneapolis': '1627',
 'Minsk': '704',
 'Mississauga': '713',
 'Miyazaki': '1038',
 'Mobile': '1635',
 'Mogi das Cruzes': '2644',
 'Molde': '1383',
 'Monaco': '1095',
 'Moncton': '714',
 'Monrovia': '2845',
 'Monterrey': '1111',
 'Montes Claros': '3018',
 'Montevideo': '1730',
 'Montgomery': '1629',
 'Montpellier': '2175',
 'Montreal': '715',
 'Montreux': '733',
 'Montville': '1623',
 'Morioka': '2447',
 'Moscow': '1439',
 'Mossoró': '2971',
 'Most': '840',
 'Mount Vernon': '1727',
 'Mulhouse': '2712',
 'Mumbai': '989',
 'Munich': '869',
 'Muntinlupa': '1401',
 'Muscat': '1997',
 'N`Djamena': '1469',
 'Naarden': '1285',
 'Nagasaki': '2445',
 'Nagoya': '1042',
 'Nairobi': '1052',
 'Nampo': '2814',
 'Nanchang': '776',
 'Nanchong': '2911',
 'Nanjing': '789',
 'Nanning': '790',
 'Nanterre': '923',
 'Nantes': '924',
 'Nantong': '791',
 'Naples': '1019',
 'Nashville': '1640',
 'Natal': '695',
 'Netanya': '2147',
 'New Brunswick': '1638',
 'New Delhi': '991',
 'New Haven': '1595',
 'New Orleans': '1636',
 'New Rochelle': '1714',
 'New Taipei City': '2423',
 'New Westminster': '2751',
 'New York City': '1641',
 'Newark': '1570',
 'Newcastle': '2364',
 'Newcastle upon Tyne': '2382',
 'Newport': '1724',
 'Newport Beach': '2793',
 'Nha Trang': '1739',
 'Niagara Falls': '716',
 'Niagara Falls (NY)': '1597',
 'Niamey': '1127',
 'Nicosia': '837',
 'Nijmegen': '1288',
 'Ningbo': '788',
 'Nizhnevartovsk': '2327',
 'Noida': '998',
 'Nonthaburi': '1472',
 'Norfolk': '1648',
 'North Bergen': '1639',
 'North Miami Beach': '2365',
 'Northampton': '2663',
 'Northbrook': '1783',
 'Nottingham': '1756',
 'Nouakchott': '1103',
 'Noumea': '2297',
 'Nova Iguaçu': '3061',
 'Nova Lima': '1973',
 'Novo Hamburgo': '2721',
 'Novorossiysk': '1440',
 'Novosibirsk': '1442',
 'Nur-Sultan': '1083',
 'Nuremberg': '871',
 'Nuth': '1291',
 'Nuuk (Godthaab)': '957',
 'Oak Park': '2210',
 'Oakbrook Terrace': '2850',
 'Oakland': '1643',
 'Odense': '2415',
 'Odessa': '2148',
 'Odintsovo ': '2794',
 'Oeiras': '1422',
 'Offenbach': '872',
 'Oklahoma City': '1645',
 'Oldenzaal': '1301',
 'Olinda': '2830',
 'Olympia': '2080',
 'Omaha': '1646',
 'Oneida': '1647',
 'Oostburg': '1295',
 'Oostende': '673',
 'Oran': '884',
 'Orange': '1607',
 'Orange Beach': '1644',
 'Oranjestad': '2193',
 'Ordos': '792',
 'Orlando': '1650',
 'Osaka': '1044',
 'Osasco': '2799',
 'Oslo': '1384',
 'Oss': '1303',
 'Ostrava': '841',
 'Ottawa': '717',
 'Ouagadougou': '675',
 'Oudenbosch': '1296',
 'Padova': '1020',
 'Palembang': '2314',
 'Palhoça': '2964',
 'Palmas': '2637',
 'Panama City': '1392',
 'Panama City Beach': '2841',
 'Paradise Island': '702',
 'Parañaque': '2912',
 'Paris': '925',
 'Parndorf': '2399',
 'Paro': '2844',
 'Parramatta': '2817',
 'Pasadena, TX': '2820',
 'Pasay': '2183',
 'Pasig': '1402',
 'Passaic': '1663',
 'Paterson': '1652',
 'Pattaya': '1473',
 'Paulista': '2655',
 'Pawtucket': '1654',
 'Pearl City (Oahu)': '2190',
 'Pearl River': '1653',
 'Pekanbaru': '2313',
 'Penang': '1120',
 'Pensacola Beach': '2834',
 'Peoria': '1659',
 'Perth': '656',
 'Petaling Jaya': '1121',
 'Petrolina': '3047',
 'Philadelphia': '1657',
 'Phnom Penh': '1054',
 'Phoenix': '1658',
 'Pickering': '2450',
 'Pila': '2941',
 'Pinghu': '3106',
 'Piracicaba': '2982',
 'Piraeus': '961',
 'Pisa': '1022',
 'Pittsburgh': '1661',
 'Plano': '2905',
 'Plovdiv': '678',
 'Plymouth': '944',
 'Podgorica': '2141',
 'Pohang': '1068',
 'Ponferrada': '2374',
 'Ponta Delgada': '3071',
 'Ponta Grossa': '2678',
 'Ponta Porã': '3073',
 'Pontianak': '2321',
 'Porsgrunn': '3032',
 'Port Louis': '1105',
 'Port Moresby': '1394',
 'Port-au-Prince': '968',
 'Port-of-Spain': '1482',
 'Portimao': '1425',
 'Portland': '1656',
 'Portland (ME)': '1665',
 'Porto': '1423',
 'Porto Alegre': '696',
 'Porto Velho': '2702',
 'Portsmouth': '945',
 'Portsmouth (RI)': '1662',
 'Potsdam': '873',

In [182]:
# Example cityCode usage:
cityCode['Chicago']

'1539'

In [183]:
# Example countryCode usage:
countryCode['Panama']

'123'

In [184]:
# Example regionCode usage:
regionCode['Asia']

'7'

In [185]:
# Returns coordinates if possible when getCoords=True in gen_df
def get_building_coords(bid) -> tuple:
  r = requests.get(map_url+bid)
  soup = BeautifulSoup(r.text, 'html.parser')
  try:
    mainScript = soup.find_all('script', type="text/javascript")[0]
    cds = str(mainScript).split('var marker = L.marker(')[-1].split(',')[:2]
    s1, s2 = cds
    s1 = s1.replace('[','')
    s2 = s2.replace(']','')
    return (float(s1), float(s2)) 
  except:
    return None

In [186]:
def gen_df(city='', country='', region='', getCoords=False, OHEcols=[]) -> pd.core.frame.DataFrame:
  """Returns a pandas dataframe containing buildings and other data listed for your passed criteria

  If the arguments `city`, `country` or `region` are not passed in, the dataframe will contain all global skyscraper data from CTBUH.

  Parameters
  ----------
  city : str, optional
      A string containing the cityCode str(integer)
      cityCode can be found by using the `cityCode` dict
        eg. cityCode['Chicago'] -> '1539'

  country: str, optional
      A string containing the countryCode str(integer)
      countryCode can be found by using the `countryCode` dict
        eg. countryCode['Panama'] -> '123'

  region: str, optional
      A string containing the regionCode str(integer), region refers to the Continent
      regionCode can be found by using the `regionCode` dict
        eg. regionCode['Asia'] -> '7'

  getCoords: bool, default=False
    If set to True, the `get_building_coords` function attempts to return [latitude, longitude] coordinates in WGS 84, if location data in CTBUH database
    Returns None if building location data not in CTBUH database

  OHEcols: list, default:[]
    A list of columns to one-hot encode.
    `Use` and `Material` columns are most commonly passed to one-hot encode.
    Ideally used for columns with <= 12 unique values


  Returns
  ------
  Pandas Dataframe, type: pandas.core.frame.DataFrame
      Column Count >= 14
      Row Count <= 1000
  """

# Load Parser:
  url = f'{base_url}/explore-data?output=list&types%5B%5D=building&statuses%5B%5D=COM&statuses%5B%5D=UCT&statuses%5B%5D=STO&statuses%5B%5D=UC&statuses%5B%5D=PRO&height=&region_id={region}&country_id={country}&city_id={city}&min_year=&max_year=&filter_company=&output=list'
  r = requests.get(url)
  soup = BeautifulSoup(r.text, 'html.parser')
  s = soup.find_all('table', id='table-combined-base')
  sList = s[0].find('tbody').find_all('tr')

# Set up dataframe:
  df = pd.DataFrame(columns=['Rank', 'Name', 'City', 'Blank', 'Completion', 'Height', 'Floors', 'Material', 'Use', 'Status', 'BuildPage', 'CityPage', 'CountryPage'])
  
# Parse data each column
  for t in sList:
    tc = t.find_all('td')
    dfcols = ['Rank', 'Name', 'City', 'Blank', 'Completion', 'Height', 'Floors', 'Material', 'Use', 'Status', 'BuildPage', 'CityPage', 'CountryPage']
    status = t.find('div').get('data-tippy-content')
    bpage, citypage, countrypage = [s['href'] for s in t.find_all('a')]
    vals = [s.text for s in tc]
    vals.append(status)
    vals.append(bpage)
    vals.append(citypage)
    vals.append(countrypage)
    newdict = dict(zip(dfcols,  vals))
    newrow = pd.DataFrame(newdict, index=[0])
    df = df.append(newrow)

# Get Building ID From Building Page URL:
  df['BID'] = df['BuildPage'].apply(lambda x : x.split('/')[-1])

# Get Coords
  if getCoords:
    df['Coords'] = df['BID'].apply(get_building_coords)

# Data Cleaning
  df['City'] = df['City'].apply(lambda x: x.split('\n')[0])
  df = df[df['Height'] != '-']
  df['Height'] = df['Height'].apply(lambda x: float(x.split(' m')[0].replace(',','') ) )
  df['Country'] = df['CountryPage'].apply(lambda x : x.split('/')[-1].title())
  if 'Blank' in list(df.columns):
    df = df.drop(columns=['Blank'])

# One Hot Encode
  if OHEcols:
    for col in OHEcols:
      flat_list = [item for s in df[col].apply(lambda x : x.split(' / ')).to_list() for item in s]
      fL = list(dict.fromkeys(flat_list))
      fL.remove('')

    # Creating one-hot encoded columns based on the wordlist:
      for word in fL:
        colname = f'{col}: {word}'
        df[colname] = np.where(df[col].str.contains(word, case=False, na=False), 1, 0)

  df = df.reset_index(drop=True)
  return df

In [187]:
# Example Scrape 1 : generate the dataframe for all buildings in the city Toronto with coordinates True:
df = gen_df(city=cityCode['Toronto'], getCoords=True)
df

    Rank                           Name  ...                   Coords Country
0      1                            CC3  ...  (43.648006, -79.378372)  Canada
1      2                1200 Bay Street  ...   (43.67004, -79.389847)  Canada
2      3                       SkyTower  ...  (43.643524, -79.374924)  Canada
3      4           212 King Street West  ...   (43.647701, -79.38662)  Canada
4      5                        The Hub  ...  (43.642345, -79.378181)  Canada
..   ...                            ...  ...                      ...     ...
812  813   T3 Sterling Road Building 5A  ...   (43.654118, -79.44632)  Canada
813  814                        77 Wade  ...  (43.659348, -79.445526)  Canada
814  815  Metro Park Condos North Tower  ...  (43.717815, -79.332695)  Canada
815  816                222 Spadina Ave  ...    (43.6511, -79.398148)  Canada
816  817   T3 Sterling Road Building 3A  ...  (43.654228, -79.445518)  Canada

[817 rows x 15 columns]

In [189]:
# Example Scrape 2 : generate the dataframe for all buildings in the United Kingdom with coordinates True:
df = gen_df(country=countryCode['United Kingdom'], getCoords=True)
df

    Rank  ...         Country
0      1  ...  United-Kingdom
1      2  ...  United-Kingdom
2      3  ...  United-Kingdom
3      4  ...  United-Kingdom
4      5  ...  United-Kingdom
..   ...  ...             ...
867  868  ...  United-Kingdom
868  869  ...  United-Kingdom
869  870  ...  United-Kingdom
870  871  ...  United-Kingdom
871  872  ...  United-Kingdom

[872 rows x 15 columns]

In [190]:
# Example Scrape 3: generate the dataframe for all buildings in the Middle East with coordinates True:
df = gen_df(region=regionCode['Middle East'], OHEcols=['Use'])
df

    Rank                                  Name  ... Use: museum Use: exhibition
0      1                 Burj Mubarak Al Kabir  ...           0               0
1      2                          Jeddah Tower  ...           0               0
2      3                          Burj Khalifa  ...           0               0
3      4                  Uptown Dubai Tower 1  ...           0               0
4      5                             Dubai One  ...           0               0
..   ...                                   ...  ...         ...             ...
933  934            PPA 30 Parcel 2.07 Tower A  ...           0               0
934  935       PPA 30 Parcel 2.05 Office Tower  ...           0               0
935  936                KAFD Conference Centre  ...           0               1
936  937  PPA 30 Parcel 2.05 Residential Tower  ...           0               0
937  938                     PP 10 Parcel 2.09  ...           0               0

[938 rows x 24 columns]